---
import Gym from "../assets/Gym.astro";
---

<main class="flex flex-col items-center justify-center h-screen">
  <section class="flex flex-col items-center justify-center">
    <div class="h-fit w-fit animate-bounce">
      <Gym fill="#6c94ea" />
    </div>
    <section class="text-center flex flex-col justify-center items-center">
      <h1 class="text-xl text-center w-fit font-bold t">Hola, soy Marta</h1>
      <p>Me gusta el gimnasio y mi perrita Lolita.</p>
      <a
        class="px-2 py-1 bg-pink-400 rounded-tl-xl rounded-br-xl hover:scale-105 hover:bg-transparent hover:border hover:border-pink-700 transition-all duration-500 mt-5"
        href="https://www.instagram.com/martaferrandez_/"
        target="_blank">Sígueme en Instagram</a
      >
    </section>
  </section>
</main>
